<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" class="scroll-smooth">
{{ partial "head.html" . }}
<body class="min-h-screen bg-background font-sans antialiased text-foreground selection:bg-primary/10 selection:text-primary">
    <div class="relative flex min-h-screen flex-col">
        {{ partial "header.html" . }}
        <main class="flex-1">
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
    </div>

    <!-- Back to Top Button -->
    <button id="back-to-top" class="fixed bottom-8 right-8 z-50 flex h-12 w-12 items-center justify-center rounded-full border bg-background shadow-lg transition-all hover:bg-accent opacity-0 invisible translate-y-4 hover:-translate-y-1" title="回到顶部">
      <i class="fa-solid fa-rocket text-xl text-primary"></i>
    </button>
    {{ with resources.Get "js/main.js" }}
      {{ $js := . | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
    {{ with resources.Get "js/code-copy.js" }}
      {{ $js := . | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
    {{ with resources.Get "js/toc.js" }}
      {{ $js := . | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
    {{ with resources.Get "js/search.js" }}
      {{ $js := . | minify | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ end }}
</body>
</html>
