# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Hugo build/cache
public/
resources/_gen/
.hugo_build.lock

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

